*{
    margin: 0px;
}

.title {
    align-items: center;
    text-align: center;
    font-size: 25px;    
    font-family:georgia,garamond,serif;
    background-color: cyan;
    height: 5vh;
    padding: 2px;
}

.Rules {
    background-color: rgb(9, 242, 242);
    height: 20vh;
}

.pass {
    align-items: center;
    text-align: center;
    position: absolute;
    top: 80%;
}

.inside_block    {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 30px;
    font-family:georgia,garamond,serif;
}

.inside_boat_object {
    position: relative;
    width: 140px;
    height: 200px;
    transition: all 0.8s;
    transition-timing-function: ease-out;
}

.inside_boat {
    display: flex;
    align-items: center;
    text-align: center; 
    font-size: 30px;
    font-family:georgia,garamond,serif;
}

.img {
    width: 100px;
    cursor: pointer;
    transition: all 1.0s;
}

.img:hover {
    transform: scale(1.1);
}

.boat {
    background-color: rgb(65, 65, 150);
}

.firstend {
    background-color:rgb(173, 69, 138);
}

.secondend {
    background-color: rgb(173, 69, 138);
}

.lower_btn {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    height: 10vh;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 65vh;
}

button {
    width: 110px;
    height: 30px; 
    margin: 10px;   
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

button:hover {
    transform: scale(1.1);
}

.heading {
    align-items: center;
    text-align: center;
}

.one_more {
    position: absolute;
    right: 0;
}

@media(max-width:1050px) {
    .Rules {
        height:25vh;
    }
    .img {
        width: 40px;   
    }
    .main {
        height:60vh;
    }
    .pass {
        display: grid;
        top: 55%;
    }
    Button {
        transition: none;
    }
    .img {
        transition: none;
    }
    button:hover {
        transform: none;
    }
    .img:hover {
        transform: none;
    }
}